/* COLORS 
#E6E6E6 greyBG
#d4d4d4 iconGrey
#288bc6 blueTest
#7c8388 greyLetters
#f7fafc greySection*/

body {
    background-color: #E6E6E6;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #7c8388;
    margin: auto;
    max-width: 911px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: #363c40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 5px;
}

section {
    background: #fff;
    max-width: 100%;
}

.feature-blocks-items {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.panel-body {
    padding: 12.5px 20px;
    margin-bottom: 10px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
    background: #f7fafc;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}

#guide-features-panel {
    margin-top: 170px;
}

.feature-blocks-item {
    padding: 10px;
}

.section-bg-nav {
    height: 12.5px;
    background-color: #288bc6;
}

.panel-heading {
    padding-top: 10px;
    padding-bottom: 1px;
    border-top: 12.5px solid #288bc6;
    background: #fff;
    width: 100%;
}

.panel-title {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 500 !important;
    border-bottom: 2.5px solid #E6E6E6;
}

.feature-blocks-item>h3 {
    margin: 10px 0px;
    font-weight: 300;
    color: #000;
}

.list-container {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    margin: auto;
}

.list-container> div> li {
    padding: 5px;
    display: flex;
}

.list-container li  svg {
    flex-basis: 30%;
}

.center {
    justify-content: center;
    text-align: center;
}

.middle {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.feature-blocks-items>span>p {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #9da2a6;
}

.icon-nav {
    fill: rgb(218, 225, 230);
    margin-left: 0.2in;
}

.showNavBar {
  -webkit-animation: 500ms ease 0s normal fadeout;
    animation: 500ms ease 0s normal forwards fadeout;
}

.hideNavbar{
    -webkit-animation: 3s ease 0s normal fadein;
    animation: 3s ease 0s normal fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}

@keyframes fadeout{
    0% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:0.5; }
    100% { opacity:0; }
}

.fixed {
    position: fixed !important;
}

.absolute {
    position: absolute !important;
}

.paintBlue > svg {
    fill: #288bc6;
}

.paintBlue > p {
    color: #288bc6 !important;
}

.post-margin-top {
    margin-top: 220px;
}

.nav-bar {
    max-width: 911px;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 170px;
}

.column-icon {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 7%;
}

@media (max-width: 690px) {
    .feature-blocks-items > span > p {
        font-size: 0.9em !important;
    }

    .mobile-nav div.feature-blocks-items {
        overflow-x: scroll;
    }

    .feature-blocks-items > span {
        padding: 5px;
    }

    .list-container {
        display: grid !important;
    }

    .hide-sm { 
        display: none !important;
    }
    
    .feature-blocks-items> span {
        color: #7c8388;
        max-width: 100%;
    }
    
    .container-list ul li {
        width: 100%;
    }

    .nav-bar {
        height: 125px;
    }

    #guide-features-panel {
        margin-top: 125px;
    }

    .column-icon {
        max-width: 10%;
    }
}

@media (min-width: 0px) and (max-width: 415px) {
    .feature-blocks-items > span > p {
        font-size: 0.5em !important;
        margin-left: 2%;
        margin-top: 5px;
    }

    .panel-title {
        font-size: 1em;
    }
}

@media (min-width: 691px) {
    .hide-md {
        display: none !important;
    }
}

